/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/03/2018, 04:38:06 PM
    Author     : Alienware
*/
body {
    background-color: #66cc00;
    text-align: center
}
commandButton{
    background-color: black;
}

